.pageProfile {
    padding: 60px 20px;
    padding-left: 84px;

    &__wrapper {
        margin: 0 auto;
        max-width: 510px;
    }

    &__nik {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #1E1E1E;
        margin-bottom: 60px;
    }

    &__list {
        margin-bottom: 50px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
        padding: 10px 0;

        &:last-of-type {
            border: none;
        }

        span {
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            color: #1E1E1E;

            &:last-of-type {
                color: #999999;
            }
        }
    }

    &__link {
        border-bottom: 1px solid #EAEAEA;

        a {
            display: block;
            padding: 10px 0;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            color: #3369F3;
            text-decoration: none;
            transition: .3s;

            &:hover,
            &:focus {
                text-decoration: underline;
                transition: .3s;
            }

            &:active {
                color: #3369F3;
                transform: scale(.99);
                opacity: .5;
                transition: .3s;
            }
        }
    }

    &__signout {
        a {
            display: block;
            padding: 10px 0;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            color: #FF0000;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
                transition: .3s;
            }

            &:active {
                color: #FF0000;
                transform: scale(.99);
                opacity: .5;
                transition: .3s;
            }
        }
    }

    &__return {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 64px;
        background-color: #FBFBFB;
        border: none;
        border-radius: 0;
        border-right: 1px solid #EAEAEA;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: #3369F3;
            transition: .3s;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 11px;
                height: 2px;
                background-color: white;
                transition: .3s;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 7px;
                transform: translateY(-50%) rotate(-135deg);
                width: 7px;
                height: 7px;
                border-top: 2px solid white;
                border-right: 2px solid white;
                transition: .3s;
            }
        }

        &:hover span,
        &:focus span {
            background-color: white;
            transition: .3s;

            &::before {
                background-color: #3369F3;
                transition: .3s;
            }

            &::after {
                border-color: #3369F3;
                transition: .3s;
            }
        }

        &:active span {
            opacity: .5;
            transition: .3s;
        }
    }
}