<article class="popup">
    <div class="popup__overlay"></div>
    <form class="popup__form" action="#" method="#">
        <div class="popup__title">
            {{{title}}}
        </div>
        {{{input}}}
        {{{button}}}
        <p class="popup__error"></p>
    </form>
</article>