<section class="signin">
    <form class="signin__form" action="#" method="#">
        <div class="signin__wrapper">
            <h1 class="signin__title">Вход</h1>
            {{{login}}}
            {{{password}}}
        </div>
        <div class="signin__wrapper">
            {{{button}}}
            {{{link}}}
        </div>
    </form>
</section>
