.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__status {
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: $dark;
        margin-bottom: 20px;
    }

    &__message {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: $dark;
        margin-bottom: 70px;
    }

    &__link {
        font-weight: 500;
        font-size: 11px;
        line-height: 11px;
        text-align: center;
        color: $blue;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
            transition: .3s;
        }

        &:active {
            transform: scale(.99);
            opacity: .5;
            transition: .3s;
        }
    }
}